@using PictureGallery.Application
@model PictureListViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>All Photos</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model.Pictures) {
        <div class="card m-3" style="width: 22rem;">
            <div class="card-body">
                <img class="list-img" src="~/images/@item.ImageName"/>
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <a asp-controller="Picture" asp-action="Details" asp-route-encodedTitle="@item.EncodedTitle" class="btn btn-primary">Details</a>
                @if (Model.User != null && @item.CreatedById == Model.User.Id)
                {
                    <a asp-controller="Picture" asp-action="Edit" asp-route-encodedTitle="@item.EncodedTitle" class="btn btn-outline-secondary" style="margin-left: 5px">Edit</a>
                }

            </div>
        </div>
    }
</div>

<style>
    .list-img {
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .card-title {
        margin-top: 8px;
    }

    .card-text {
        height: 18px;
    }
</style>
